<% provide(:title, '管理人プロフィール')%>
<div id="wrapper">
    <%= render 'layouts/breadcrumb' %>
  <div id="main">
    <h2>管理人について</h2>
    <h3>プロフィール</h3>
    <%= image_tag("icon.jpg", size: "100x100", id:'icon') %>
    <div id="profile">
      <p>かめじろう。<br/>
      大阪府生まれのフリーター。<br/>
      プログラマーを目指して日々勉強しています。<br/>
      UverWorldやRealMadrid、ジョジョが好きです。</p>
    </div>
    
      <h3>本ブログについて</h3>
      <p>webサービス開発の勉強の一貫として始めました。自分の考え方や過去の経験、趣味などを少しでも共感してもらえたらという思いで運営しています。</p>

    <h3>SNS</h3>
    <p>Twitterをメインに活用しています。<br/>
    <a href="https://twitter.com/kamejiro_uwrm">かめじろうさんをフォロー</a>
    </p>
  </div>

  <%=render 'layouts/sidebar'%>
</div>