<% provide(:title, 'お問い合わせ')%>
<div id="wrapper">
    <%= render 'layouts/breadcrumb' %>
  <div id="main">
    <h2>お問い合わせ</h2>
    <p>ご不明な点、リクエスト等ございましたら下記にご連絡ください。なおすべての問い合わせに応答することはできませんのであらかじめご容赦ください。</p>
    <h3>Twitter</h3>
    <p>Twitterアカウントをお持ちの方は、<a href="https://twitter.com/kamejiro_uwrm">@kamejiro_uwrm</a>のアカウントに連絡ください。</p>
  </div>
  
  <%=render 'layouts/sidebar'%>
</div>