<div id="wrapper">
  <div id="main">
    <h2>その他</h2>
    <%= render 'layouts/sortbar' %>

    <ul id="article_feed"><%= render @feed_items %></ul>
    
    <%= will_paginate @feed_items, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 1 %>
  </div>

  <%=render 'layouts/sidebar'%>
</div>