<% provide(:title, '利用規約')%>
<div id="rules">
  <%= render 'layouts/breadcrumb' %>
  <h2>利用規約</h2>
  <h3>1条</h3>
  <p>利用規約です。</p>
  <h3>2条</h3>
  <p>利用規約です。</p>
  <h3>3条</h3>
  <p>利用規約です。</p>
  <div id="signiture">
    <p>2021年10月12日</p>
    <p>かめブロ</p>
 </div>
</div>