@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// color difinition
// parameter difinision
// universal　全体
//typography 文字
//header
//footer
//mainbar
//sidebar
//rules
//article_index
//user_index
//article_form
//article_show
//responsive-design


// color difinition
$white: #fff;
$title: #70ad47;
$back: #b0c573;
$current: #94b327;
$visited: #69734c;


// universal　全体
body{
  margin: 0;
  padding: 0;
  font-family: "Hiragino maru Gothic ProN W4", "Hiragino Kaku Gothic Pro","Hiragino Sans", "arial", "Meiryo", "MS PGothic", sans-serif!important;//フォントは
  color: #333;//文字色は黒っぽいやつ
  background-image: url("background.png");
  #main{
    margin-left: 10px;
  }
  #main2{
    margin-left: 10px;
    margin-right: 10px;
  }
}
section{
  overflow: auto;
}
textarea{
  resize: vertical;
}
.center{
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
}
img{vertical-align: bottom;}
#top{
  position: fixed;
  right: 20px;
  bottom: 20px;
}
h1, h2, h3, h4, h5, h6{
  clear: both;
}

//typography 文字
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  text-align: left;
  line-height: 1.2;//フォントサイズの1.7倍
  padding-bottom: 15px;
  border-bottom: 1px solid $title;
  margin-bottom: 20px;
}
h1{
  font-size: 1.7em;
}
h2, h3{
  font-size: 1.5em;
}
p{
  font-weight: normal;
  font-size: 16px;//Googleの推奨値
  line-height: 28px;//1.7倍
  margin-bottom: 30px;
}
a{color: #333;}
a:visited{color: $visited;}
a:hover {
  color: $current;
  font-weight: bold;
  text-decoration: none;
}
a img{transition: opacity 0.2s linear;}
a:hover img{opacity: 0.7;}


// header
header{
  width: 980px;
  margin: 0 auto;
}
#logo{
  float:left;
  padding-left: 10px;
  padding-top: 10px;
}
#search{
  float: right;
  margin: 20px 30px 10px 0px;
}
.content{
  display: none;
  width: 980px;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}
.open .content{
  display: block;
}
#menu{
  float: right;
  margin: 20px 30px 10px 0px;
  #header-name{
    font-size: 16px;
  }
}
nav{
  width: 980px;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      width: 195px;
      float: left;
      margin-right: 1px;
      text-align: center;
      a{
        display: block;
        padding: 16px;
        background-color: $back;
        color: $white;
        text-decoration: none;
        transition: background-color 0.2s linear;
      }
      a:hover{
        color: $white;
        background-color: $current;
      }
    }
  }
}

// footer
footer{
  width: 980px;
  background-color: #352b23;
  text-align: center;
  margin: 0 auto;
  small{
    display: block;
    padding: 8px 0;
    color: $white;
  }
}

// mainbar
#wrapper{
  width:980px;
  margin: 0 auto;
  overflow: hidden;
  background-color: $white;
}
#main{
  width: 730px;
  float: left;
  #sort{
    float:right;
    padding: 5px 20px 5px 20px;
    border: solid 1px $title;
    border-radius: 10px;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin: 2.5px;
    }
  }
  #top{
    float: right;
  }
  .pagination{
    a{
      background-color: $back;
      color: $white;
    }
    a:hover{
      background-color: $current;
    }
    .active a{
      background-color: $visited;
    }
  }
}

// sidebar
#sidebar{
  width: 220px;
  float: right;
  h2{
    text-align: center;
    margin-bottom: 0;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin: 2.5px;
    }
  }
  #popular{
    margin: 10px;
    margin-bottom: 30px;
    border: solid 1px $title;
    border-radius: 10px;
    padding: 5px;
    .popular{
      border-bottom: solid 1px $title;
      a{
        display: block;
        padding: 10px;
      }
    }
  }
  #tags{
    margin: 10px;
    margin-bottom: 30px;
    border: solid 1px $title;
    border-radius: 10px;
    padding: 5px;
    .tags{
      overflow: hidden;
      border-bottom: solid 1px $title;
      a{
        display: block;
        float: left;
        padding: 10px;
        padding-right: 60px;
      }
    }
  }
}

//about
#profile{
  float: left;
}
#icon{
  float: right;
  margin-right: 30px;
}


//rules
#rules{
  clear: both;
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  #signiture{
    text-align: right;
  }
}

//article_feed
#article_feed{
  li{
    clear: both;
    width: 730px;
    overflow: hidden;
    padding: 20px 5px 20px 5px;
    border-bottom: 1px solid $back;
    display: block;

    #article_text{
      float: left;
      width: 550px;
      height: 100px;
      #article_title{
        font-size: 1.2em;
        margin-bottom: 15px;
      }
      #article_date{
        font-size: 0.9em;
        margin-bottom: 10px;
      }
    }
    #article_image{
      float: right;
      width: 150px;
      height: 150px;
      border: 1px solid;
    }
  }
}

//article_index
//user_index
#article_index, #user_index{
  li{
    clear: both;
    width: 730px;
    overflow: hidden;
    padding: 20px 5px 20px 5px;
    border-bottom: 1px solid $back;
    display: block;
  }
}

//article_form
form {
  width: 300px;
  margin-left: 15px;
  margin-bottom: 15px;
  input{
    margin-bottom: 15px;
  }
  select{
    display: block;
    clear: both;
    height: 35px;
    margin-bottom: 15px;
  }
}
#article_form{
  width: 80%;
}


//article_show
#article_show_date{
  float: right;
}
h2{
  clear: both;
}

// responsive-design
@media screen and(max-width: 767px) {
  //image
  img{
    max-width: 100%;
    height: auto;
  }

  // Layout
  header,
  nav,
  #sidebar,
  #wrapper,
  #main,
  footer{
    width: 100%;
  }
  #logo{
    width: 60%;
  }
  header h1{
    float: none;
    text-align: center;
  }
  header h1 img {
    width: 50%;
  }
  /* ナビゲーション */
  nav ul li {
    width: 50%;
    padding: 0.5px;
    margin: 0;
    box-sizing: border-box;
    a {
      margin: 0;
    }
  }
  nav ul li:last-child {
    width: 100%;
  }
  /* メイン部分 */
  #main {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }
  #main figure {
    text-align: center;
  }

  #rules{
    width: 100%;
  }
  #article_feed {
    li{
      height: auto;
      width: 100%;
      #article_text{
        width: 62%;
      }
      #article_image{
        width: 100px;
        height: 100px;
      }
    }
  }
  #user_index {
    li{
      width: 100%;
    }
  }
  #menu, #sort{
    li{
      a{
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}

