<div id="sidebar">
  <section id="popular">
    <h2>人気記事</h2>
    <ul>
      <% @rank_items.each do |t| %>
        <li class="popular"><%=link_to t.title, t %></li>
      <% end %>
    </ul>
  </section>

  <section id="tags">
    <h2>カテゴリー</h2>
    <ul>
      <% @categorys.each do |c| %>
        <li class="tags"><%=link_to c.category, c %></li>
      <% end %>
    </ul>
  </section>
  
  <section id="adcense">
    <h2>アドセンス</h2>
  </section>
</div>