<div id="sort" class="dropdown">
    <a href='#' id="dropdownMenuLink" class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" area-expanded="false">
    並び替え<b class="caret"></b>
  </a>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <li><%= link_to "降順", sort: "created_at desc" %></li>
    <li><%= link_to "昇順", sort: "created_at" %></li>
    <li><%= link_to "人気順", sort: "impressions_count" %></li>
  </ul>
</div>